{
  "parser": "babel-eslint",
  "extends": ["airbnb"],
  "rules": {
    "max-len": [1, 140, 2, { "ignoreComments": true }],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/jsx-props-no-spreading": [0],
    "import/prefer-default-export": "off",
    "jsx-a11y/control-has-associated-label": "off"
  },
  "env": {
    "browser": true,
    "node": true
  }
}
